modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["stripe:1.0.0"]

[userenv]

[userenv.shared]
STRIPE_SECRET_KEY = "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"
VITE_STRIPE_PUBLISHABLE_KEY = "pk_live_51TC0wvCW1DGbLxHut2UiRzFrsAIsHMZeS3C2Z8XquenM8Goxy4a5NOwqXU2jWYM2QHgpjq8a003wqUk1E5DCuVCg00KyzxgyDV"
VITE_MAPBOX_TOKEN = "pk.eyJ1IjoiaHlwZXJmbSIsImEiOiJjbW1vcWt1aHMwZ3VrMnJwdTEwZ2Jzb2xzIn0.YhF_6QILyLEoATdtxn8KOA"
