modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
integrations = ["stripe:1.0.0"]

[userenv]

[userenv.shared]
STRIPE_SECRET_KEY = "sk_test_51T9cTFEPpyO5NSxUuxOqhypa6mgkeeeyZFoDkLNpelso0mCHBgHQq537dF5WI96GdX5QYy0TGhh26Pog9OmYiyrB00SxLM5k4b"
VITE_STRIPE_PUBLISHABLE_KEY = "pk_test_51T9cTFEPpyO5NSxUb07clp887UZ5ZclutaWjZc7Vtps3f9Pwn5OfRuu65jvHm3bfxfaQUZTKSh4BUKxo2YDtU9zP00gIK6ZU8e"
